*{
    box-sizing: border-box;
    margin: 0px;
    font-family: sans-serif;
}
.navmenu{
    font-size: 20px;
    color: royalblue;
    font-weight: bolder;
}
.logo{
    font-size: 35px;
    font-family: elephant;
    font-variant: small-caps;
    color: orangered;
}
/* .sections-menu{
    position: relative;
    top: 0px;
} */
.sections-menu div{
    height: 400px;
    width: 100%;
    border: 2px solid red;
}
html{
    scroll-behavior: smooth;
}
.navigaton_bar{
    position: fixed;
    top: 0px;
    width: 100%;
}